* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.section-header {
  background-color: #39a38f;
  color: #fff;
  height: 590px;
}

.container-left {
  float: left;
  line-height: 0;
  margin: 76px 0 0 140px;
}

.container-left h1 {
  font-size: 100px;
  font-weight: bold;
}

.container-left h3 {
  font-size: 54px;
}

.container-left h4 {
  font-size: 34px;
}

.container-left h5 {
  border-bottom: 1px solid #fff;
  width: 244px;
}

.container-left h6 {
  font-size: 18px;
  font-style: italic;
}

.container-right {
  background: rgba(0, 0, 0, 0.2);
  float: right;
  height: 85px;
  margin-top: 80px;
  transform: skew(-30deg) translateX(40px);
  width: 430px;
}

.container-right p {
  font-size: 18px;
  padding-right: 180px;
  text-align: right;
  transform: skew(30deg);
}

.container-bottom {
  text-align: center;
}

#menu-toggle input {
  display: none;
}

.nav-links {
  list-style-type: none;
}

.nav-links a {
  color: #c0c0c0;
  font-size: 14px;
  margin-left: 35px;
  text-decoration: none;
}

.nav-links a:hover, .nav-links a:active {
  color: #303030;
}

.nav-links li {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .section-menu-logo {
  margin: 0 130px;
}

.section-menu {
  border-bottom: 1px solid #dfdfdf;
  color: #c0c0c0;
}

.section-menu-socialmedia {
  margin-left: 110px;
  margin-right: 155px;
}

.section-menu-socialmedia i {
  margin: 0 10px;
}

.section-menu-socialmedia i:hover {
  color: #303030;
  cursor: pointer;
}

.section-about {
  text-align: center;
}

.section-about h1 {
  color: #303030;
  font-size: 45px;
  line-height: 15px;
}

.section-about h2 {
  color: #979797;
  font-size: 30px;
  font-weight: normal;
  line-height: 20px;
}

.section-about h3 {
  border-bottom: 1px solid #dfdfdf;
  margin: 0 auto;
  width: 109px;
}

.section-about h4 {
  color: #979797;
  font-size: 17px;
  font-weight: normal;
}

.section-about span {
  color: #39a38f;
}

.section-about-clients {
  background-color: #39a38f;
  color: #fff;
  padding: 80px 145px;
}

.section-about-clients h2 {
  color: #fff;
  font-size: 27px;
  font-weight: bold;
}

.section-about-clients h3 {
  border-bottom: none;
  font-size: 23px;
  font-weight: normal;
  line-height: 10px;
  width: 100%;
}

.section-about-clients h4 {
  border-bottom: 1px solid #fff;
  margin: 20px auto;
  width: 131px;
}

.section-about-clients img {
  margin: 0 20px;
}

.section-about-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 207px 1fr 207px 1fr 207px 1fr;
      grid-template-columns: 1fr 207px 1fr 207px 1fr 207px 1fr;
}

.section-about-features div h4 {
  color: #303030;
  font-size: 18px;
  font-weight: normal;
}

.section-about-features div p {
  color: #707070;
  font-size: 13px;
}

.section-about-features div span {
  color: #39a38f;
}

.section-about-features-left {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.section-about-features-center {
  -ms-grid-column: 4;
      grid-column-start: 4;
}

.section-about-features-right {
  -ms-grid-column: 6;
      grid-column-start: 6;
}

.section-about-numbers {
  background-color: #f0f0f0;
  color: #39a38f;
  font-size: 50px;
  font-weight: bold;
  line-height: 25px;
  padding: 65px 170px 40px;
}

.section-about-numbers div {
  display: inline-block;
  margin: 0 25px;
}

.section-about-numbers div img, .section-about-numbers div p {
  display: inline-block;
  text-align: left;
}

.section-about-numbers span {
  color: #7a7a7a;
  font-size: 18px;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */