//styles for section quote

blockquote {
	margin-bottom: .5em;
	padding: .5em 2em .5em 3em;
	position: relative;
}

blockquote::after, blockquote::before {
	content: '\201D';
	opacity: .3;
	position: absolute;
}

blockquote::after {
	bottom: -.8em;
	float: right;
	font-size: 10em;
	right: 1em;
}

blockquote::before {
	font-size: 10em;
	left: 0;
	top: -.2em;
}

.section-quote {
	background-color: $green-main;
	color: #fff;
	padding: 50px 0;
	text-align: center;

	div {
		max-width: 800px;
		margin: 0 auto;
	}

	.section-quote-line {
		border-bottom: 1px solid #fff;
		margin: 0 auto;
		width: 109px;
	}

	.section-quote-name {
		font-size: 18px;
		font-weight: normal;
		margin-top: 24px;
	}

	p {
		font-size: 21px;
	}
}