//styles for section footer

.section-footer {
	background-color: #d8d8d8;
	padding: 25px;

	i {
		margin: 0 8px;
	}

	a, i {
		color: #878787;

		&:active {
			color: #000;
		}

		&:hover {
			cursor: pointer;
		}
	}

	a {
		text-decoration: none;
		margin-right: 8%;
	}

	p {
		color: #737373;
	}
}

.section-footer-container {
	display: flex;
	justify-content: space-between;
	padding: 0 170px;
}